* {
    font-family:monospace
}

#ascii-banner {
    white-space: pre-wrap;
  }


#Heading {
    margin-bottom: 0.25em;
}

#Output-area {
    margin-bottom: 0.25em;
}

label {
    vertical-align: top;  
}

/* body {
    pointer-events: none;
} */

/* #text-area {
    pointer-events: auto;
} */

textarea { 
    resize: none;
    border: none;
    outline: none;
}